<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBldRH8psCkwluFcb_UL7BmmyXKycORJ8I</string>
	<key>GCM_SENDER_ID</key>
	<string>368122766341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wattSense</string>
	<key>PROJECT_ID</key>
	<string>team-synapse-34703</string>
	<key>STORAGE_BUCKET</key>
	<string>team-synapse-34703.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368122766341:ios:57942d262a32f3df40e86c</string>
</dict>
</plist>